daily_run estimates strikes, number of contracts for a put selling strategy on S&P 500 based on "Cost of Capital for Alternatives" - Data requires either an open session of IB Gateway or TWS from Inter-active brokers

In [1]:
from option_daily_prod import OptionMarket, SpxOptionAsset, RSL2OptionAsset
import numpy as np
import pandas as pd
import nest_asyncio
from time import time

before = time()
nest_asyncio.apply()

spx_trades = OptionMarket(SpxOptionAsset())
rsl_trades = OptionMarket(RSL2OptionAsset())

Warning: RSL2 Using Fixed Dividend yield

In [5]:
z_score = np.array([-1, -1.5, -2])
leverage = np.array(range(1, 4, 1))
num_expiries = 3
illiquid_equity = 500000
after = time()
spx = True
if spx:
    trd_choice = spx_trades.form_trade_choice(z_score, num_expiries, 'P')
else:
    trd_choice = rsl_trades.form_trade_choice(z_score, num_expiries, 'P')
    
last_price = trd_choice.spot
after_2 = time()
print('elapsed:', np.round(after - before, 1))
print('elapsed:', np.round(after_2 - before, 1))
print(last_price)
print(trd_choice.sigma)
print(trd_choice.account_value)

elapsed: 51.9
elapsed: 75.0
2632.56
21.52
[AccountValue(account='U2463043', tag='NetLiquidationByCurrency', value='2701789.6823', currency='BASE', modelCode='')]

In [6]:
from IPython.display import display, HTML

CSS = """
.output {
    flex-direction:row;
}
"""
HTML('<style>{}</style>'.format(CSS))

In [7]:
_=[display(df) for df in [trd_choice.strike_grid(), trd_choice.premium_grid(), trd_choice.prices_grid()]]

            -1.0  -1.5  -2.0
2018.12.21  2490  2425  2380
2019.01.18  2420  2330  2265
2019.02.15  2355  2235  2150

             -1.0   -1.5  -2.0
2018.12.21  12.35   7.00  4.85
2019.01.18  18.20  10.85  7.55
2019.02.15  22.85  13.25  9.00

                 -1.0       -1.5     -2.0
2018.12.21  12.0/12.7    6.7/7.3  4.6/5.1
2019.01.18  17.8/18.6  10.6/11.1  7.3/7.8
2019.02.15  22.5/23.2  13.0/13.5  8.8/9.2

In [8]:

prct_decline = trd_choice.pct_otm_grid(last_price)
format_dict = {x: '{:.2%}' for x in prct_decline.to_dict()}
display(prct_decline.style.format(format_dict))

In [9]:
capital_at_risk = float(trd_choice.account_value[0].value) + illiquid_equity
premium_list = []
premium_list =  [(trd_choice.premium_grid() * contractTable.round() * 100) \
                 for contractTable in trd_choice.option_lots(leverage, capital_at_risk)]

_ = [display(df.style.format('${:,.0f}')) for df in premium_list]

In [10]:
premium_list_pct = []
premium_list_pct = [(trd_choice.premium_grid() * lev) / last_price for lev in leverage]
_ = [display(df.style.format('{:.2%}')) for df in premium_list_pct]

In [11]:

_ = [display(contractTable.round().style.format('{:.0f}')) for \
     contractTable in trd_choice.option_lots(leverage, capital_at_risk)]

In [12]:
margin_dlr = [trd_choice.margin(last_price) * df for df in trd_choice.option_lots(leverage, capital_at_risk)]
_ = [display(df.style.format('${:,.0f}')) for df in margin_dlr]

In [13]:
marge = trd_choice.margin(1200)
display(marge.style.format('${:,.0f}'))

In [14]:
notional_dlr=[df * trd_choice.strike_grid() * 100 for df in trd_choice.option_lots(leverage, capital_at_risk)]
_ = [display(df.style.format('${:,.0f}')) for df in notional_dlr]